.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Estilo para ampliar las imágenes al pasar el ratón */
.table img {
  transition: transform 0.3s ease-in-out; /* Animación suave */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.table img:hover {
  transform: scale(2.0); /* Amplía la imagen al 150% */
  z-index: 1; /* Asegura que esté sobre otros elementos */
}

.rounded-image {
  border-radius: 15px; /* Ajusta el radio para las esquinas redondeadas */
  transition: transform 0.3s ease; /* Suaviza la animación al interactuar */
}

.rounded-image:hover {
  transform: scale(1.05); /* Amplía ligeramente la imagen al pasar el mouse */
}